<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>망고즈</title>

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/playbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- 모든 CSS 레이아웃에서 불러오기 -->
    <link rel="stylesheet" href="/css/song.css" />
    <link rel="stylesheet" href="/css/sort.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="stylesheet" href="/css/chatlist.css" />
    <link rel="stylesheet" href="/css/song_upload.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/playlist.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <link rel="stylesheet" href="/css/chat_upload.css" />
    <%- style %>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
     <header>
      <div class="left">
        <div class="logo"><a href="/">MangoZ</a></div>
      </div>
      <div class="right">
        <div class="go">
          <a href="/sort?sort=date">최신음악</a>
          <a href="/sort?sort=like">인기음악</a>
          <a href="/chat/list">아티스트Talk</a>
        </div>
        <div class="search">
          <i class="fa-solid fa-magnifying-glass" style="color: #000000; margin-right: -30px"></i>
          <input type="text" class="search_bar" />
        </div>
        <div class="user">
          <a id="signin" href="/signin">login</a>
          <!-- <i class="fa-regular fa-user" style="color: #000000;"></i> -->
        </div>
      </div>
    </header>

    <main><%- defineContent('body') %></main>

    <footer>
      <div class="left">
        <div class="team">포스코 코딩온 웹 풀스택 과정 프로젝트2 6조</div>
        <div class="team_member">박가현, 서채영, 이우종, 이원노, 황동하</div>
        <div class="notice"><a href="/notice">공지사항</a></div>
      </div>
      <div class="right">
        <div></div>
      </div>
    </footer>

    <section>
      <div class="playbar_wrapper">
        <div class="musicbar_wrapper">
          <input type="range" class="music_bar" step="1" value="0" , min="0" />
          <div class="musicbar_background"></div>
        </div>
        <div class="playbar">
          <div class="player_song">
            <div class="song_img">
              <img class="m_song_cover" src="" alt="앨범사진" />
            </div>
            <div class="song_info">
              <a class="song_title"></a>
              <a class="artist_name"></a>
            </div>
          </div>
          <div class="player_controller">
            <button type="button" class="button" id="pre" onclick="prevPlay()">
              <i class="fa-solid fa-backward-step" style="color: #ffffff"></i>
            </button>
            <label for="play"
              ><i class="fa-regular fa-circle-play fa-lg" style="color: #ffffff" id="play_icon"></i
            ></label>
            <input type="checkbox" id="play" hidden />

            <button type="button" class="button" id="next" onclick="nextPlay()">
              <i class="fa-solid fa-forward-step" style="color: #ffffff"></i>
            </button>

            <div class="player_side">
              <div class="player_time">
                <span class="player_time_current" style="color: white">00:00</span>
                <span class="player_time_duration" style="color: white">/</span>
                <span class="player_time_total" style="color: white"></span>
              </div>
            </div>
          </div>

          <div class="player_side_rigth">
            <div class="volume">
              <label for="mute_button"
                ><i class="fa-solid fa-volume-low" style="color: #ffffff" id="volume_button"></i
              ></label>
              <input type="checkbox" id="mute_button" hidden />
              <input type="range" min="0" max="100" id="volume_status" />
              <!-- <button type="button" class="volume_bar" id="voulme_status">
                        <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
                    </button> -->
              <button type="button" onclick="openModal()" class="open_playlist">
                <i class="fa-solid fa-sliders" style="color: #ffffff"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- playlist창 -->
    <div class="modal_open" hidden>
      <div class="modal">
        <button class="button_close" onclick="closeModal()">
          <i class="fa-solid fa-x" style="color: #ffffff;"></i>
        </button>
        <div class="modal_left">
          <div class="content_box">
            <a href="#" class="song_title">
              <span class="song_name">자나깨나 (Feat. 조이 of Red Velvet)</span>
            </a>
            <a href="#" class="song_artist">
              <span class="song_singer">Crush</span>
            </a>
            <a href="#" class="song_img">
              <img class="song_cover" src="https://image.bugsm.co.kr/album/images/1000/203260/20326024.jpg" alt="앨범사진">
            </a>
          </div>
        </div>
        <div class="modal_right">
          <div class="playlistname">MY playlist 청량한 여름 노래</div>
          <div class="wrap">
            <div class="modal_search">
              <i class="fa-solid fa-magnifying-glass" style="color: #dfdada; margin-right: -30px"></i>
              <input type="text" class="modal_search_bar" placeholder="재생목록에서 검색해주세요" />
            </div>
            <div class="edit">
              <button class="song_edit">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
              </button>
            </div>
          </div>
          <div class="modal_palylist_songs">
            <ul class="modal_playlist_song">
              <li class="modal_playlist_detail">
                <a class="modal_playlist_detail_imgs" href="#">
                  <img class="modal_playlist_detail_img" src="https://image.bugsm.co.kr/album/images/1000/203260/20326024.jpg" alt="앨범커버사진">
                </a>
                <a class="modal_playlist_detail_titles" href="#">
                  <span class="modal_playlist_detail_title">자나깨나 (Feat. 조이 of Red Velvet)</span>
                  <span class="modal_playlist_detail_artist">Crush</span>
                </a>
                <div class="container">
                  <input type="checkbox" class="toggle" id="toggle" hidden>
                  <label for="toggle" class="label" id="label">
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
                  </label>
                  <ul class="menu">
                      <li class="menu-item"><i class="fa-solid fa-music" style="color: #000000;"></i><a href="#" class="menu-name">곡 정보</a></li>
                      <li class="menu-item"><i class="fa-solid fa-cart-plus" style="color: #000000;"></i><a href="#" class="menu-name">내 리스트에 담기</a></li>
                      <li class="menu-item"><i class="fa-regular fa-heart" style="color: #000000;"></i><a href="#" class="menu-name">좋아요</a></li>
                      <li class="menu-item"><i class="fa-solid fa-trash" style="color: #000000;"></i><a href="#" class="menu-name">삭제</a></li>
                  </ul>
                </div>
              </li>
              <!--  -->
              <li class="modal_playlist_detail">
                <a class="modal_playlist_detail_imgs" href="#">
                  <img class="modal_playlist_detail_img" src="https://image.bugsm.co.kr/album/images/1000/203260/20326024.jpg" alt="앨범커버사진">
                </a>
                <a class="modal_playlist_detail_titles" href="#">
                  <span class="modal_playlist_detail_title">깨나 (Feat. 조이 of Red Velvet)</span>
                  <span class="modal_playlist_detail_artist">Crush</span>
                </a>
                <div class="container">
                  <input type="checkbox" class="toggle" id="toggle1" hidden>
                  <label for="toggle1" class="label" id="label">
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
                  </label>
                  <ul class="menu">
                      <li class="menu-item"><i class="fa-solid fa-music" style="color: #000000;"></i><a href="#" class="menu-name">곡 정보</a></li>
                      <li class="menu-item"><i class="fa-solid fa-cart-plus" style="color: #000000;"></i><a href="#" class="menu-name">내 리스트에 담기</a></li>
                      <li class="menu-item"><i class="fa-regular fa-heart" style="color: #000000;"></i><a href="#" class="menu-name">좋아요</a></li>
                      <li class="menu-item"><i class="fa-solid fa-trash" style="color: #000000;"></i><a href="#" class="menu-name">삭제</a></li>
                  </ul>
                </div>
              </li>
              <li class="modal_playlist_detail">
                <a class="modal_playlist_detail_imgs" href="#">
                  <img class="modal_playlist_detail_img" src="https://image.bugsm.co.kr/album/images/1000/203260/20326024.jpg" alt="앨범커버사진">
                </a>
                <a class="modal_playlist_detail_titles" href="#">
                  <span class="modal_playlist_detail_title">자나깨나</span>
                  <span class="modal_playlist_detail_artist">Crush</span>
                </a>
                <div class="container">
                  <input type="checkbox" class="toggle" id="toggle" hidden>
                  <label for="toggle" class="label" id="label">
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
                  </label>
                  <ul class="menu">
                      <li class="menu-item"><i class="fa-solid fa-music" style="color: #000000;"></i><a href="#" class="menu-name">곡 정보</a></li>
                      <li class="menu-item"><i class="fa-solid fa-cart-plus" style="color: #000000;"></i><a href="#" class="menu-name">내 리스트에 담기</a></li>
                      <li class="menu-item"><i class="fa-regular fa-heart" style="color: #000000;"></i><a href="#" class="menu-name">좋아요</a></li>
                      <li class="menu-item"><i class="fa-solid fa-trash" style="color: #000000;"></i><a href="#" class="menu-name">삭제</a></li>
                  </ul>
                </div>
              </li>
              <li class="modal_playlist_detail">
                <a class="modal_playlist_detail_imgs" href="#">
                  <img class="modal_playlist_detail_img" src="https://image.bugsm.co.kr/album/images/1000/203260/20326024.jpg" alt="앨범커버사진">
                </a>
                <a class="modal_playlist_detail_titles" href="#">
                  <span class="modal_playlist_detail_title">조이 of Red Velvet)</span>
                  <span class="modal_playlist_detail_artist">Crush</span>
                </a>
                <div class="container">
                  <input type="checkbox" class="toggle" id="toggle" hidden>
                  <label for="toggle" class="label" id="label">
                    <i class="fa-solid fa-ellipsis-vertical" style="color: #ffffff;"></i>
                  </label>
                  <ul class="menu">
                      <li class="menu-item"><i class="fa-solid fa-music" style="color: #000000;"></i><a href="#" class="menu-name">곡 정보</a></li>
                      <li class="menu-item"><i class="fa-solid fa-cart-plus" style="color: #000000;"></i><a href="#" class="menu-name">내 리스트에 담기</a></li>
                      <li class="menu-item"><i class="fa-regular fa-heart" style="color: #000000;"></i><a href="#" class="menu-name">좋아요</a></li>
                      <li class="menu-item"><i class="fa-solid fa-trash" style="color: #000000;"></i><a href="#" class="menu-name">삭제</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- playlist창 끝 -->

    <audio id="player">
      <source src="" type="audio/mpeg">
    </audio>

    <%- script %>
    <script src="/js/pageload.js"></script>
    <script src="/js/playbar.js"></script>
    <script src="/js/logout.js"></script>
  </body>
</html>
