<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <!-- 모든 CSS 레이아웃에서 불러오기 -->
    <link rel="stylesheet" href="/css/song.css">
    <link rel="stylesheet" href="/css/sort.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/chatlist.css">
    <link rel="stylesheet" href="/css/song_upload.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/playlist.css">
    <%- style %>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="left">
            <div class="logo"><a href="/">MangoZ</a></div>
        </div>
        <div class="right">
            <div class="go">
                <a href="/sort">최신음악</a>
                <a href="/sort">장르음악</a>
                <a href="/chat/list">아티스트 톡방</a>
            </div>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                <input id="searchKey" type="text">
            </div>
            <div class="user">
                <a href="/signin">
                    <i class="fa-regular fa-user" style="color: #000000;"></i>
                </a>
            </div>
        </div>
    </header>
    
    <main>
        <%- defineContent('body') %>
    </main>

    <footer>
        <div class="left">
            <div class="team"> 포스코 코딩온 웹 풀스택 과정 프로젝트2 6조</div>
            <div class="team_member">박가현, 서채영, 이우종, 이원노, 황동하</div>
            <div class="notice"><a href="/notice">공지사항</a></div>
        </div>
        <div class="right">
            <div></div>
        </div>
    </footer>

    <section>
        <div class="playbar">
            <div class="player_song">
                <div class="song_img">
                    <a href="#">
                        <img src="#" alt="앨범사진">
                    </a>
                </div>
                <div class="song_info">
                    <a class="song_title" href="#">자나깨나 (Feat. 조이 of Red Velvet)</a>
                    <a class="artist_name" href="#">크러쉬</a>
                </div>
            </div>
            <div class="player_controller">
                <button type="button" class="button" id="pre">
                    <i class="fa-solid fa-backward-step" style="color: #ffffff;"></i>
                </button>
                <button type="button" class="button" id="play">
                <i class="fa-regular fa-circle-play fa-lg" style="color: #ffffff;"></i>
                </button>
                <button type="button" class="button" id="next">
                    <i class="fa-solid fa-forward-step" style="color: #ffffff;"></i>
                </button>
            </div>
            <div class="player_side">
                <div class="player_time">
                    <span class="player_time_current" style="color:white">00:04</span>
                    <span class="player_time_duration" style="color:white">/</span>
                    <span class="player_time_duration" style="color:white">03:56</span>
                </div>
            </div>
            <div class="player_side_rigth">
                <div class="volume">
                    <button type="button" class="volume_button">
                        <i class="fa-solid fa-volume-low" style="color: #ffffff;"></i>
                    </button>
                    <button type="button" class="volume_bar" id="voulme_status">
                        <i class="fa-solid fa-minus" style="color: #ffffff;"></i>
                    </button>
                    <button type="button" class="open_playlist">
                        <i class="fa-solid fa-sliders" style="color: #ffffff;"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <audio controls>
        <source src="/audio/O.O.mp3">
    </audio>

    <%- script %>
    <script src="/js/pageload.js"></script>
</body>
</html>