<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chatlist.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <title>채팅방 목록</title>
</head>
<body>
    <header>

    </header>

    <main>
        <section class="talk_list">
            <div class="column_first">
                <div class="my_talk">
                    <a href="#" onclick="talk()">참여중인 톡방</a>
                </div>
            </div>

            <div class="column_second">
                <div class="category_talk">주제별 톡방</div>
                <div class="recommand_talk">톡방 추천</div>
            </div>
        </section>
    </main>


    <footer>

    </footer>

    <div id="playbar">

    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
            $("#playbar").load("/html/playbar", function () {
            });
        })
    </script>

    <script>
        function talk(){
            window.open('/chat', "Child", "width=400, height=500, top=50, left=50")
        }
    </script>
</body>
</html>