<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chatlist.css">
    <title>채팅방 목록</title>
</head>
<body>
    <%- contentFor('body') %>
    <main>
        <section class="talk_list">
            <div class="column_first">
                <div class="my_talk">
                    <a href="#" onclick="talk()">참여중인 톡방</a>
                </div>
            </div>

            <div class="column_second">
                <div class="category_talk">주제별 톡방</div>
                <div class="recommand_talk">톡방 추천</div>
            </div>
        </section>
    </main>

    <%- contentFor('player') %>
    <div id="playbar">playerbar</div>

    <script>
        function talk(){
            window.open('/chat', "Child", "width=400, height=500, top=50, left=50")
        }
    </script>
</body>
</html>