<div class="left">
    <div class="team"> 포스코 코딩온 웹 풀스택 과정 프로젝트2 6조</div>
    <div class="team_member">박가현, 서채영, 이우종, 이원노, 황동하</div>
    <div class="notice"><a href="/notice">공지사항</a></div>
</div>
<div class="right">
    <div></div>
</div>