<div class="left">
    <div class="logo">MangoZ</div>
</div>
<div class="right">
    <div class="go">
        <a href="/sort">최신음악</a>
        <a href="/sort">장르음악</a>
        <a href="/sort">아티스트 톡방</a>
    </div>
    <div class="search">
        검색
    </div>
    <div class="user">
        <a href="/login">로그인</a>
    </div>
</div>