<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>메인페이지</title>
  </head>
  <body>
    <%- contentFor('body') %>
    <section class="index_section">
      <div class="main_page">
        <div class="column_first">
          <div class="recent_music" id="recent_music">
          </div>
          <div class="genre_music">장르 음악</div>
        </div>

        <div class="column_second">
          <div class="talk_room">아티스트 톡 채널</div>
          <div class="recommand_playlist">추천 플레이리스트</div>
        </div>

        <div class="column_third">
          <div class="popular_music">인기순 음악</div>
        </div>
      </div>

      <script>
        $(document).ready(function(){
          axios({
            method:"GET",
            url:"/song/sort",
            params:{
              sort:"date"
            }
          }).then((res)=>{
            console.log(res.data[0]);
            for(let i = 0; i < res.data.length; i++){
              let s_url = res.data[i].song_url;
              console.log(s_url)
              let temp = s_url.split('/');
              temp = temp[3] + "/" + temp[4];
              const html = `
              <div class="recent_element">
                  <img src="${res.data[i].cover_url}" onclick="music('${temp}')">
                  <a class="recent_title" href="/song/detail?id=${res.data[i].id}">${res.data[i].title}<a>
                  <div class="artist">${res.data[i].artist}</div>
              </div>`
    
              $('#recent_music').append(html);
            }
          }).catch((err)=>{
            console.log(err);
          })
        });
      </script>
    </section>

    <script>
      
    </script>
    
  </body>
</html>
