<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <title>메인페이지</title>
</head>
<body>
    <header>

    </header>

    <main>
        <section class="main_page">
            <div class="column_first">
                <div class="recent_music">
                    최신 발매 음악
                </div>
                <div class="genre_music">
                    장르 음악
                </div>
            </div>

            <div class="column_second">
                <div class="talk_room">
                    아티스트 톡 채널
                </div>
                <div class="recomand_playlist">
                    추천 플레이리스트
                </div>
            </div>

            <div class="column_third">
                <div class="popular_music">
                    인기순 음악
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <div id="playbar">

    </div>


    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <!-- header/footer 추가 -->
    <script>
        window.open('/chat', "Child", "width=400, height=300, top=50, left=50")
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
            $("#playbar").load("/html/playbar", function () {
            });
        })
    </script>
</body>
</html>