<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>로그인</title>
</head>
<body>
    <header>

    </header>
    <main class="loginMain">
        <div class="loginLogo">LOGO</div><br>

        <section class="loginPage">
            <div class="loginCover">
                <input type="text" id="id" placeholder="아이디"><br>
                <input type="password" id="pw" placeholder="비밀번호">
            </div>
            <div class="loginPageBtns">
                <button type="button" id="loginBtn">로그인</button><br>
                <button type="button" id="signupBtn">회원가입</button>
            </div>
        </section>
    </main>



    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
        })
    </script>
</body>
</html>