<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <title>마이페이지(개인정보 수정)</title>
</head>
<body>
    <header>

    </header>
    
    
    
    
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
        })
    </script>
</body>
</html>