<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <title>마이페이지(개인정보 수정)</title>
</head>
<body>
    <%- contentFor('body') %>
    <main class="mypageMain">
        <div class="mypage">
            <div class="mypageCover">
                <section class="profilePage">
                    <div class="avatar">
                        <a class="mypageImg" href="#"><img src="#"></a>
                    </div>
                    <div class="welcome">
                        <p class="welcomePara">ooo님 환영합니다.</p>
                        <p class="welcomeId">ID</p>
                    </div>
                </section>
                <br>
                <form class="mypageForm">
                    <input type="text" id="nickname" placeholder="닉네임"><br>
                    <input type="password" id="pw" placeholder="비밀번호"><br>
                    <input type="password" id="pw2" placeholder="비밀번호확인"><br>
                    <button class="mainBtn">회원정보변경</button>
                </form><br><br>
                <section class="mypageBtns">
                    <button class="deleteBtn">회원탈퇴</button>
                    <button class="cancelBtn">취소</button>
                </section>
            </div>
        </div>
    </main>

    <script>
    
    </script>
    
</body>
</html>