<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>플레이리스트 목록</title>
</head>
<body>
    <%- contentFor('body') %>
    <section>
        <div id="cont-wrap">
            <div id="my_playlist">
                <div class="page_header">
                    <h3 class="title">My Palylist</h3>
                    <label for="new_playlist">새 palylist 만들기</label>
                    <input type="checkbox" id="new_playlist" hidden>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="like_playlist">
                <div class="page_header">
                    <h3 class="title">좋아요한 Palylist</h3>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="new_pl_md">
            <div class="new_pl_close">X</div>
            <div class="new_pl_input">
                <label for="pl_name">플레이리스트 이름</label>
                <input type="text" id="pl_name">
            </div>
            <button type="button" onclick="mn()">생성</button>
        </div>
    </section>

    <%- contentFor('player') %>

    <script id="sc">
        const new_pl = document.getElementById("new_playlist");
        const new_pl_md = document.querySelector(".new_pl_md");
        const new_pl_md_close = document.querySelector(".new_pl_close");
        const new_pl_name = document.querySelector("#pl_name")

        new_pl.addEventListener('click', (e)=>{
            new_pl_md.style.display = "flex";
        })

        new_pl_md_close.addEventListener('click', (e)=>{
            new_pl_md.style.display = "none";
        })

        async function mn() {
            const res = await axios ({
                method: "post",
                url: "/playlist",
                data: {
                    pl_name: new_pl_name.value
                }
            }); console.log(data);
        }
    </script>
</body>
</html>