<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>플레이리스트 목록</title>
</head>
<body>
    <%- contentFor('body') %>
    <section>
        <div id="cont-wrap">
            <div id="my_playlist">
                <div class="page_header">
                    <h3 class="title">My Palylist</h3>
                    <button>새 palylist 만들기</button>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="like_playlist">
                <div class="page_header">
                    <h3 class="title">좋아요한 Palylist</h3>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a href="#">
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a href="#"></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <%- contentFor('player') %>

    <script>

    </script>
</body>
</html>