<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/playlist.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <title>플레이리스트 목록</title>
</head>
<body>
    <header>

    </header>

    <div id="cont-wrap">
            <div id="my_playlist">
                <div class="page_header">
                    <h3 class="title">My Palylist</h3>
                    <button>새 palylist 만들기</button>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="like_playlist">
                <div class="page_header">
                    <h3 class="title">좋아요한 Palylist</h3>
                </div>
                <ul class="my_list">
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트2</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트3</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="my_list_album">
                            <div class="list_image">
                                <a></a>
                                <img>
                            </div>
                            <div class="my_list_text">
                                <a>
                                    <span>내 플레이리스트4</span>
                                </a>
                            </div>
                        </div>
                     </li>
                </ul>
            </div>
        </div>
    </div>


    <footer>

    </footer>



    <div id="playbar">

    </div>


    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
            $("#playbar").load("/html/playbar", function () {
            });
        })
    </script>
</body>
</html>