<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>마이페이지(개인정보 수정)</title>
</head>
<body>
    <%- contentFor('body') %>
    <section class="mypageMain">
        <div class="mypage">
            <div class="mypageCover">
                <section class="profilePage">
                    <div class="avatar">
                        <img class="progileImg" src="#">
                        <form onsubmit="imgupload(e)">
                            <input type="file" id="profileimg"></form>
                            <button type="submit">upload</button>
                        </form>
                    </div>
                    <div class="welcome">
                        <p class="welcomePara"></p>
                        <p class="welcomeId"></p>
                    </div>
                </section>
                <br>
                <form class="mypageForm">
                    <input type="text" id="name" placeholder="이름"><br>
                    <input type="text" id="nickname" placeholder="닉네임"><br>
                    <input type="password" id="pw" placeholder="비밀번호"><br>
                    <input type="password" id="pw2" placeholder="비밀번호확인"><br>
                    <button type="button" class="mainBtn" onclick="edit()">회원정보변경</button>
                </form><br><br>
                <section class="mypageBtns">
                    <button class="deleteBtn" onclick="destroy()">회원탈퇴</button>
                    <button class="cancelBtn" onclick="move()">취소</button>
                </section>
            </div>
        </div>
    </section>

    <script>
        // console.log(localStorage.getItem('token'));

        axios({
            method: 'GET',
            url: '/profile',
            params: {
                token:localStorage.getItem('token')
            }
        }).then((res)=>{
            const name = document.querySelector("#name");
            const nick = document.querySelector("#nickname");
            const path = document.querySelector('.progileImg');

            name.value = res.data.name;
            nick.value = res.data.nickname;
            path.src = res.data.profile_img;
            document.querySelector(".welcomePara").textContent = nick.value + "님 환영합니다.";
            document.querySelector(".welcomeId").textContent = res.data.userid;
        });

        async function edit() {
            const form = document.forms['mypageForm'];
            const pw = document.querySelector("#pw");
            const pw2 = document.querySelector("#pw2");
            const path = document.querySelector('.progileImg');
            const name = document.querySelector("#name");
            const nick = document.querySelector("#nickname");

            if(pw.value.length === 0 ) {
                const res1 = await axios({
                    method: 'PATCH',
                    url: '/profile',
                    data: {
                        name:name.value,
                        nickname:nick.value,
                        profile_img: path.src,
                        token:localStorage.getItem('token')
                    }
                });

                if(res1.data.result) {
                    alert("회원정보 수정이 완료되었습니다.");
                    document.location.href = "/";
                    return;
                }else{
                    alert("에러 발생");
                    return;
                }
            }

            let pwPattern = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
            if(!pwPattern.test(pw.value, pw2.value)) {
                alert("비밀번호를 다시 입력해주세요. \n 비밀번호는 영문, 숫자, 특수기호 조합하여 8자리 이상입니다.");
            }
            if(pw.value !== pw2.value ) {
                alert("비밀번호를 확인해주세요");
                pw.focus();
            } else if(pw.value === "" || pw2.value === "") {
                alert("비밀번호를 입력해주세요");
            } else {
                alert("비밀번호가 일치합니다.");
            };
            
            console.log(path.src);
            const res = await axios({
                method: 'PATCH',
                url: '/profile/pw',
                data: {
                    name:name.value,
                    nickname:nick.value,
                    profile_img: path.src,
                    pw: pw.value,
                    token:localStorage.getItem('token')
                }
            });
            console.log(res.data.result);
            if(res.data.result) {
                alert("회원정보 수정이 완료되었습니다.");
                document.location.href = "/";
            } else {
                alert(`error message : ${res.data.message}`);
                document.location.reload();
            };
        };

        //회원탈퇴
        function destroy() {
            if (!confirm('회원탈퇴 하시겠습니까?')) {
                return;
            }
            axios({
                method: 'DELETE',
                url: '/profile',
                data: {
                    token:localStorage.getItem('token')
                },
            }).then((res) => {
                if (res.data.result) {
                    alert('회원탈퇴 완료되었습니다');
                    window.localStorage.removeItem('token')
                    document.location.href = '/';
                }
            });
        }
        //취소
        function move() {
            document.location.href = "/";
        }

        //프로필사진 변경
        const img = document.querySelector('.profileImg');
        async function imgupload(e) {
            event.preventDefault(e);
            const file = document.querySelector('#profileimg');
            const res = await axios({
                method: 'POST',
                url: '/profile',
                data: formdata,
                headers: {
                    'Content-Type' : 'multipart/form-data',
                },
            });
            console.log(res.data.location)
            img.src = res.data.location;
        }
    </script>
    
</body>
</html>