<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/playbar.css">
    <title>검색</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section class="searchPage">
            <div class="searchCover">
                <div class="searchResult">검색결과(톡방/플레이리스트/아티스트/가사)</div>
                <div class="talkSearch">
                    <div class="talkSearchResult">
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                    </div>
                </div>
                <div class="titleSearch"></div>
                <div class="artistSearch"></div>
                <div class="lyricsSearch"></div>
            </div>
        </section>
    </main>
    
    
    
    <footer>

    </footer>

    <div id="playbar">

    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
            $("#playbar").load("/html/playbar", function () {
            });
        })
    </script>
</body>
</html>