<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>검색</title>
</head>
<body>
    <%- contentFor('body') %>

    <section>
        <div class="searchPage">
            <div class="searchCover">
                <div class="searchResult">검색결과(톡방/플레이리스트/아티스트/가사)</div>
                <div class="talkSearch">
                    <div class="talkSearchResult">
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                        <a href="#" class="talkSearchLink"><img class="talkSearchImg" src="#"></a>
                    </div>
                </div>
                <div class="titleSearch"></div>
                <div class="artistSearch"></div>
                <div class="lyricsSearch"></div>
            </div>
        </div>
    </section>

    <%- contentFor('player') %>

    <script id="sc">
    
    </script>
</body>
</html>