<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>회원가입</title>
</head>
<body>
    <header>

    </header>
    <main class="signupMain">
        <div class="signupLogo">LOGO</div><br>

        <section class="signupPage">
            <div class="signupCover">
                <form class="signupForm">
                    <input type="text" id="userid" placeholder="아이디"><br>
                    <input type="password" id="pw" placeholder="비밀번호"><br>
                    <input type="password" id="pw2" placeholder="비밀번호확인"><br>
                    <input type="text" id="mail" placeholder="이메일"><br>
                    <input type="text" id="name" placeholder="이름"><br>
                    <input type="text" id="gender" placeholder="성별"><br>
                    <input type="text" id="nick" placeholder="닉네임"><br><br>
                    <button class="signupBtn">회원가입</button>
                </form>
            </div>
        </section>
    </main>
    
    
    
    
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
        })
    </script>
</body>
</html>