<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>회원가입</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="signupMain">
            <div class="signupLogo">LOGO</div><br>

            <section class="signupPage">
                <div class="signupCover">
                    <form name="signupForm" class="signupForm">
                        <input type="text" id="userid" placeholder="아이디"><br>
                        <input type="password" id="pw" placeholder="비밀번호"><br>
                        <input type="password" id="pw2" placeholder="비밀번호확인"><br>
                        <input type="text" id="mail" placeholder="이메일"><br>
                        <input type="text" id="name" placeholder="이름"><br>
                        <input type="text" id="gender" placeholder="성별"><br>
                        <input type="text" id="nick" placeholder="닉네임"><br><br>
                        <button  type="button" class="signupBtn" onclick="signup()">회원가입</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    
    
    
    
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
            $("header").load("/html/header", function () {
            });
            $("footer").load("/html/footer", function () {
            });
        });

        async function signup() {
            const form = document.forms["signupForm"];
            const id = document.querySelector("#userid");
            const pw = document.querySelector("#pw");
            const pw2 = document.querySelector("#pw2");
            const idPattern = new RegExp("^[a-z][0-9a-z]{4,14}$");
            let pwPattern = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
            if(idPattern.test(id.value)) {
                alert("ID를 사용하셔도 됩니다");
                id.style.color = "blue"
                id.textContent = "Strong"
            } else {
                alert(`ID를 다시 입력해주세요.\nID는 영어 소문자와 숫자로 구성되어야 합니다`);
                id.style.color = "red"
                id.focus();
            }
            if(!pwPattern.test(pw.value, pw2.value)) {
                alert("비밀번호를 다시 입력해주세요. \n 비밀번호는 영문, 숫자, 특수기호 조합하여 8자리 이상입니다.");
            }
            if(pw.value !== pw2.value) {
                alert("비밀번호를 확인해주세요");
                pw.focus();
            } else if(pw.value === "" || pw2.value === "") {
                alert("비밀번호를 입력해주세요");
            } else {
                alert("비밀번호가 일치합니다.");
            }
            const res = await axios ({
                method: "post",
                url: "/signup",
                data: {
                    userid: form.userid.value,
                    password: form.pw.value,
                    password2: form.pw2.value,
                    mail: form.mail.value,
                    name: form.name.value,
                    gender: form.gender.value,
                    nickname: form.nick.value
                }
            })
            
            
            if(res.data.result) {
                
                alert("회원가입을 축하합니다.");
                document.location.href = "/";
            } else {
                alert(`${res.data.message}`);
                document.location.reload();
            }
        };

    </script>
</body>
</html>