<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인</title>
</head>
<body>
    <%- contentFor('body') %>
    <main class="loginMain">
        <div class="loginLogo">LOGO</div><br>

        <section class="loginPage">
            <div class="loginCover">
                <form class="loginForm">
                    <input type="text" id="id" placeholder="아이디"><br>
                    <input type="password" id="pw" placeholder="비밀번호">
                </form>
            </div>
            <div class="loginPageBtns">
                <button type="button" id="loginBtn">로그인</button><br>
                <button type="button" id="signupBtn">회원가입</button>
            </div>
        </section>
    </main>
    
    <script>
    
    </script>
</body>
</html>