<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">
    <title>회원가입</title>
</head>
<body>

    <%- contentFor('body') %>
    <main class="signupMain">
        <div class="signupLogo">LOGO</div><br>

        <section class="signupPage">
            <div class="signupCover">
                <form class="signupForm">
                    <input type="text" id="userid" placeholder="아이디"><br>
                    <input type="password" id="pw" placeholder="비밀번호"><br>
                    <input type="password" id="pw2" placeholder="비밀번호확인"><br>
                    <input type="text" id="mail" placeholder="이메일"><br>
                    <input type="text" id="name" placeholder="이름"><br>
                    <input type="text" id="gender" placeholder="성별"><br>
                    <input type="text" id="nick" placeholder="닉네임"><br><br>
                    <button class="signupBtn">회원가입</button>
                </form>
            </div>
        </section>
    </main>

    <script>
    
    </script>
</body>
</html>