<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>곡 업로드</title>
</head>
<body>
    <%- contentFor('body') %>
    <section>
        <form class="song_upload">
            <input type="text" id="title" placeholder="곡 제목">
            <input type="text" id="artist" placeholder="아티스트 명">
            <input type="text" id="album" placeholder="앨범 명">
            <textarea id="lyrics" placeholder="가사"></textarea>
            <input type="text" id="writer" placeholder="작사가">
            <input type="text" id="composer" placeholder="작곡가">
            <select id="genre">
                <option>발라드</option>
                <option>댄스</option>
                <option>랩/힙합</option>
                <option>R&B</option>
                <option>인디음악</option>
                <option>록/메탈</option>
                <option>트로트</option>
                <option>포크</option>
                <option>POP</option>
                <option>컨트리</option>
                <option>EDM</option>
                <option>클래식</option>
                <option>재즈</option>
                <option>CCM</option>
            </select>
            <input type="text" id="playtile" placeholder="재생시간">
            <input type="date" id="release_date" placeholder="발매일">
            <!-- 노래 커버 이미지 업로드 -->
            <input type="file" id="cover">
            <input type="file" id="song">
        </form>
        <button type="button" onclick="upload()">업로드</button>
    </section>

    <%- contentFor('player') %>

    <script>
        function upload(){
            console.log("실행");
        }
    </script>
</body>
</html>