<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>정렬</title>
</head>
<body>
    
    <%- contentFor('body') %>
    <section class="sort_section">
        <div class="song_category">
            <div class="menu">
                <ul class="lay_menu">
                    <li>
                        <a href="#" onclick="sortSongs('latest')">
                            <span>최신곡</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="sortSongs('popular')">
                            <span>인기곡</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="sortSongs('genre')">
                            <span>장르별</span>
                        </a>
                    </li>
                </ul>
            </div>

            <table class="list">
                <thead>
                    <tr class="defult">
                        <th>
                            <div class="wrap">
                                <span class="rank">순위</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song_album">
                                <span class="song">앨범</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song">
                                <span class="song">곡이름</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song">
                                <span class="song">아티스트</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song">
                                <span class="song">재생시간</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song">
                                <span class="song">듣기</span>
                            </div>
                        </th>
                        <th>
                            <div class="wrap_song">
                                <span class="song">재생목록</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="song">
                    <!-- <tr class="song_detail">
                        <td>
                            <div class="wrap">
                                <span class="ranck"></span>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <a href="#" class="song_image"></a>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <div class="song_name">
                                    <a href="#"></a>
                                </div>
                                <br />
                                <div class="artist">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </section>

    <%- contentFor('player') %>

    <script>
        const body = document.querySelector("tbody");
        axios ({
            method:"get",
            url:"/song/sort",
            params:{
                sort:"date"
            }
        }).then((res) => {
            console.log("aa",res.data)
            for(let i = 0; i < res.data.length; i++) {
            const html = `
                    <tr class="song_detail">
                        <td>
                            <div class="wrap">
                                <span class="ranck">${i+1}</span>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <a href="#">
                                    <img src=${res.data[i].cover_url}>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <div class="song_name">
                                    ${res.data[i].title}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <div class="artist">
                                    ${res.data[i].artist}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <div class="replay time">
                                    3:59
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <button type-"button" class="song_detail_button">
                                    <i class="fa-solid fa-play" style="color: #FCD06B" id="song_play_icon"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="wrap_song">
                                <button type-"button" class="song_list_button">
                                    <i class="fa-solid fa-bars" style="color: #FCD06B"></i>
                                </button>
                            </div>
                        </td>
                    </tr>`;
                    body.insertAdjacentHTML("beforeend", html)
            }
            
        })
    </script>
</body>
</html>