.talk_section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.talk_list {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.talk_list .column_first {
  margin-bottom: 20px;
}

.talk_list .column_first .my_talk {
  background-color: white;
  width: 100%;
  min-height: 300px;
  border: 1px solid;
  box-shadow: 9px 9px 9px rgb(172, 172, 172);
}

.talk_list .column_second {
  display: flex;
  justify-content: space-between;
}

.talk_list .column_second .category_talk {
  background-color: white;
  width: 590px;
  height: 300px;
  border: 1px solid;
  box-shadow: 9px 9px 9px rgb(172, 172, 172);
  position: relative;
}

.talk_list .column_second .recommand_talk {
  background-color: white;
  width: 590px;
  height: 300px;
  border: 1px solid;
  box-shadow: 9px 9px 9px rgb(172, 172, 172);
}
.joinchat {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#s {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
.recommand {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}
.talk_section img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid;
}
.my_talk img {
  position: absolute;
}
.talk_section .imgdiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  transition: all 0.3s;
  margin: 10px;
}
.talk_section .imgdiv:hover {
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
}

.column_second .Jmember,
.recommand_talk .Jmember {
  visibility: hidden;
}
.imgdiv:hover p {
  display: flex;
}
.imgdiv:hover .Jmember {
  visibility: visible;
}

.category_talk .imgdiv,
.recommand .imgdiv {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.category_talk .imgdiv p,
.recommand .imgdiv p {
  margin-bottom: 18%;
  width: 82%;
  height: 82%;
}

.category_talk img,
.recommand img {
  width: 82%;
  height: 100%;
  /* margin-top: 18%; */
}
.talk_section p {
  text-align: center;
}
.my_talk div {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.imgdiv p {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
}
.buttonDiv {
  position: absolute;
}
.sp {
  font-size: 50px;
}

@media screen and (max-width: 651px) {
  .talk_list {
    width: auto;
    display: flex;
    align-items: center;
  }

  .talk_section img {
    width: 100%;
    height: 100%;
  }

  .category_talk img,
  .recommand img {
    width: 82%;
    height: 100%;
  }

  .column_first {
    width: 590px;
    display: flex;
    justify-content: center;
  }
  .column_second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category_talk {
    margin-bottom: 20px;
  }
  .talk_list .column_second .recommand_talk span {
    font-size: medium;
  }
}
