*{
    margin: 0;
}


#msg::-webkit-scrollbar {
    width: 0px;
}
#msg::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
#msg::-webkit-scrollbar-track {
    display: none;
    /* background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white; */
}

#msg{
    height: 100vh;
    overflow-y: scroll;
}

#chat {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#chat input {
    width: 80%;
}

.talk_header {
    display: flex;
    width: 300px;
    background-color: blueviolet;
    padding: 3px;
}

.header_name {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.header_button {
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    width: 150px;
}

.infor_message {
    text-align: center;
    padding: 10px;
}

.talk_main {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 300px;
    top: 503px;
}

.talk_message {
    width: 270px;
}

/* hidden talk_menu */

.talk_menu_bar {
    margin-left: 80px;
    width: 220px;
    height: 503px;
    background-color: beige;
    position: fixed;
    z-index: 1;
}

.menu_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.share_button {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: auto;
}

.talk_profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: brown;
    text-align: center;
}

.talk_members {
    width: 150px;
    height: 200px;
    background-color:chartreuse;
}

.hello {
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
    width: fit-content;
    margin-left: auto;
}

.hellow {
    display: flex;
    justify-content: flex-start;
    background-color: beige;
    width: fit-content;
}