footer{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    border-top: 1px solid #000000; /* 위에 1px 두께의 선 추가 (선의 색상을 원하는 색으로 변경할 수 있습니다) */
    padding: 20px 0px 100px 0px; /* 상단과 하단 여백을 조절 (원하는 여백 크기로 조정) */
    font-family: 'NanumSquareNeo-Variable';
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

footer .left{

}

footer .left .team{
    color: rgb(0, 0, 0);
}

footer .left .team_member{
    color: rgb(0, 0, 0);
}

footer .left .notice a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer .right{

}