main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.main_page{
    width: auto;
    display: flex;
}

.column_first{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.column_first .recent_music{
    background-color: lightgray;
    width: 100%;
    height: 240px;
}

.column_first .genre_music{
    background-color: lightgray;
    width: 100%;
    height: 240px;
}

.column_second{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.column_second .talk_room{
    background-color: lightgray;
    width: 100%;
    height: 240px;
}

.column_second .recommand_playlist{
    background-color: lightgray;
    width: 100%;
    height: 240px;
}

.column_third{
    width: 400px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

.column_third .popular_music{
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 650px) {
    main{
        
    }
    
    .main_page{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .column_first{
        width: 90%;
        height: auto;
        justify-content: normal;
        margin-bottom: 20px;
    }

    .column_first > div, .column_second > div, .column_third > div{
        margin-bottom: 20px;
    }
    
    .column_first .recent_music{
        height: 200px;
    }
    
    .column_first .genre_music{
        height: 200px;
    }
    
    .column_second{
        width: 90%;
        height: auto;
        justify-content: normal;
        margin-bottom: 20px;
    }
    
    .column_second .talk_room{
        height: 200px;
    }
    
    .column_second .recommand_playlist{
        height: 200px;
    }
    
    .column_third{
        width: 90%;
        height: auto;
    }
    
    .column_third .popular_music{
        height: 500px;
    }
}