.loginMain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:600px;
    background-color: lightgray;
    
}

.loginLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
}

.loginCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgb(179, 182, 182);
}

#id, #pw {
    width: 300px;
    height: 50px;
}

.loginPageBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}

#loginBtn, #signupBtn {
    width: 180px;
    height: 70px;
    margin: 20px;
}

