.playbar{
    background-color: black;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
}

.playbar button {
    background-color:transparent;
}

.song_info a {
    text-decoration: none;
    color: white;
}

.player_controller{
    display: flex;
}

.player_controller button {
    background-color: transparent;
    width: 70px;
    height: 50px;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_controller > label {
    width: 50px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_song {
    display: flex;
    align-items: center; 
}

.song_info {
    display: flex;
    flex-direction: column;
}

.song_img {
    margin-right: 10px;
}

.player_side_rigth button{
    background-color:transparent;
    border: none;
    width: 70px;
    height: 50px;
    font-size: 30px;
}

.volume {
    display: flex;
}

.volume_button + .volume_bar {
    margin-left: 1px;
}
