.playbar_wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 500;
  }

.playbar{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
}

.playbar button {
    background-color:transparent;
}

.song_info .song_title a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.song_info .artist_name a {
    text-decoration: none;
    color: white;
}

.player_controller{
    display: flex;
    /* justify-content: center; */
    align-content: center;
    /* width: 260px; */
    position: fixed;
    align-items: center;
    justify-items: center;
    left: 40%;
}

.musicbar_wrapper {
    position: relative;
    width: 100%;
    height: 10px;
}

.musicbar_background {
    position: absolute;
    width: 100%;
    height: 60%;
    right: 0;
    top: 4px;
    background-color: #c8c8c8;
    user-select: none;
    pointer-events: none;
}

.music_bar[type=range] {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    top: 2px;
    background-color: transparent;
}


.music_bar[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 60%;
    background-color: #ffc353;
    cursor: pointer;
    
}

.music_bar[type="range"]::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
    background-color: transparent;
    -webkit-appearance: none;
}

.musicbar_wrapper:hover .music_bar[type=range]{
    top: 0px;
    transition: all 0.3s;
}

.musicbar_wrapper:hover .musicbar_background{
    height: 100%;
    top: 0px;
    transition: all 0.3s;
}

.musicbar_wrapper:hover .music_bar[type='range']::-webkit-slider-runnable-track{
    height: 100%;
    top: 0px;
    transition: all 0.3s;
}

.musicbar_wrapper:hover ::-webkit-slider-thumb {
    position: relative;
    bottom: 5px;
    border: 1px solid #ffc353;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #ffc353;
    z-index: 1;
  }


.player_controller button {
    background-color: transparent;
    width: 70px;
    height: 50px;
    border: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_controller > label {
    width: 50px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player_side{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
    font-size: 11px;
}

.player_side .player_time_total {
    color: rgb(187, 186, 186);
}

.player_song {
    display: flex;
    align-items: center; 
}

.song_info {
    display: flex;
    flex-direction: column;
}

.song_info .song_title {
    /* font-size: 18px;
    margin-bottom: 5px;
    font-size: 22px; */
};

.song_info .artist_name {
    font-size: 14px;
}

.song_img {
    margin-right: 10px;
    width: 800px;
    position: relative;
}

.song_img .modal_song_play{
    position: absolute;
    margin-right: 10px;
    width: 50%;
    background-color: rgb(0, 0, 0, 0.6);
}

.player_side_rigth button{
    background-color:transparent;
    border: none;
    width: 70px;
    height: 50px;
    font-size: 25px;
}
.player_side_rigth >.volume > label {
    font-size: 25px;
    display: flex;
    align-items: center;
    width: 30px;
}

.volume {
    display: flex;
}

.volume_button + .volume_bar {
    margin-left: 1px;
}

.range_container {
    position: relative;
    
}

.range_bar {
    position: absolute;
   z-index: 1;
   left: 2px;
   top: 21px;
   width: 100%;
   height: 5px;
   border-radius: 5px;
   background-color: gray;
   overflow: hidden;
}
.range_bars {
    display: block;
   width: 0;
   height: 100%;
   background-color: white;
}

#volume_status[type=range] {
    position: relative;
   z-index: 2;
   -webkit-appearance: none;
   width: 100%;
   height: 10px;
   border-radius: 5px;
   outline: none;
   background-color: transparent;
    margin-top: 20px;
}

#volume_status[type=range]::-webkit-slider-runnable-track {
    /* background: #FCD06B; */
    height: 5px;
    border-radius: 4px;
}

#volume_status[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* background: #FCD06B; */
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: -12px;
    cursor:pointer;
    /* border: 4px solid #fff; */
    transition: 3s;
    /* box-shadow: 0 0 0 0 #edd69f; */
}

#volume_status[type=range]:hover::-webkit-slider-thumb {
    /* background: #ec8282; */
    /* box-shadow: 0 0 20px #ede626; */
}

#volume_status[type=range]:active::-webkit-slider-thumb {
    /* box-shadow: 0 0 0 10px #f0c769; */
}

/* playlist창 띄우기 */
.modal_open {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s ease;
  }
  
.modal_open .modal {
    /* text-align: center; */
    width: 100%;
    height: 100%;
  }

.modal_open a :not(.menu-item) {
    text-decoration: none;
    color: white;
}

.modal_open .modal .button_close {
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    width: 28px;
    height: 23px;
    background-color: transparent;
    border: none; 
    color: #000;
  }

.modal_open .modal .button_close i {
    font-size: 23px;
}

.modal_open .modal .modal_left {
    width: 50%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    min-height: 460px;
    text-align: center;
  }

.modal_open .modal .modal_left .content_box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.modal_open .modal .modal_left .content_box a {
    width: 100%;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    color: white;

}

.modal_open .modal .modal_left .content_box .song_artist {
    font-size: 13px;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 15px;
}

.modal_open .modal .modal_left .content_box img {
    width: 50%;
    height: 50%;
    margin: 20px 20px;
}

.modal_left i {
    font-size: 28px;
}

.modal_open .modal .modal_right {
    width: 50%;
    float: right;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.modal_open .modal .modal_right .playlistname{
    display: block;
    text-overflow: ellipsis;
    width: 360px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}

.wrap {
    display: none;
    flex-direction: row;
    align-items: center;
}

.modal_search {
    margin-top: 13px;
    margin-right: 10px;
    position: relative;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    padding: 6px 10px;
    background: hsla(0,0%,100%,.05);
    border-radius: 1000px;
}

.modal_search i {
    width: 24px;
    height: 24px;
    fill: none;
}

.modal_right .modal_search input {
    width: 195px;
    font-size: 12px;
    color: #fff;
    background: none;
    outline: none;
    box-sizing: border-box;
    padding: 0px 0px 5px 40px;
    border: 0;
}

.modal_search ::placeholder {
    color: #b7b4b4;
  }

.modal_right .modal_palylist_songs {
    background-color: #333;
    margin-top: 20px;
    margin-right: 20px;
    height: 65%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.modal_palylist_songs::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
  }
.modal_palylist_songs::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #848484; /* 스크롤바의 색상 */
    border-radius: 10px;
  }
   
.modal_palylist_songs::-webkit-scrollbar-track {
    background: #84848447;  /*스크롤바 뒷 배경 색상*/
  }

.edit {
    margin-right: 50px;
    margin-left: 50%;
}

.edit button {
    padding: 0;
    font-family: inherit;
    vertical-align: middle;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none; 
}

.edit i {
    font-size: 24px;
    align-items: center;
    justify-items: center;
}

.modal_playlist_detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 8px;
    color: white;
    cursor: all-scroll;
  }
  
.modal_playlist_detail_img {
    width: 70px;
    height: 70px;
  }
  
.modal_playlist_detail_titles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    color: white;
  }

.modal_playlist_detail_title {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.modal_playlist_detail_artist {
    font-size: 14px;
}

.container {
    /* padding: 5px 10px; */
    margin-right: 18px;
    position: relative;
    display: flex;
    flex-flow: column;
}

.label {
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: var(--btn-height);
    min-height: var(--btn-min-height);
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}

.container i{
    border-radius: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    margin-right: 3px;
}

.menu {
    width: fit-content;
    height: fit-content;
    height: 0;
    background-color: whitesmoke;
    border-radius: var(--border-rad);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: calc(var(--btn-height) + 3vh);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.menu li {
    width: 100%;
    height: 40px;
    padding: 10px 16px;
    font-size: 14px;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toggle:checked ~ .menu{
    height: var(--menu-height);
    min-height: var(--menu-min-height);
    opacity: 1;
    right: 20px;
    top: 30px;
    width: fit-content;
    height: fit-content;
    list-style: none;
    background-color: #ffffff;
}

.toggle:checked ~ .label > i{
    /* transform: rotate(180deg); */
}

.menu .menu-item i {
    font-size: 18px;
    fill: none;
}

.menu-name {
    width: var(--btn-width);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: 900;
    line-height: 20px;
    margin-left: 8px;
}

.playbar_wrapper .song_img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playbar_wrapper .song_img .m_song_cover{
    width: 80%;
    height: 80%;
    border: 1px solid none;
    margin-bottom: 0px;
}



.music_bar, .song_img, .song_title, .artist_name , .player_controller button , .player_side_rigth :hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}