*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signinMain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.signinPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:600px;
    background-color: lightgray;
    
}

.signinLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
}

.signinCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgb(179, 182, 182);
    
}

.signinForm {
    display: flex;
    flex-direction: column;
}

#id, #pw {
    width: 300px;
    height: 50px;
}

.signinPageBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}

#signinBtn, #signupBtn {
    width: 180px;
    height: 70px;
    margin: 20px;
}

