*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.signupMain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.signupMain .signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 850px;
}

.signupMain .signupLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10px;
}

.signupMain .signupCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid #FCD06B;
    border-radius: 16px;
    width: 500px;
    height: 880px;
}

.signupMain .signupForm {
    display: flex;
    flex-direction: column;
}

.signupMain #userid, .signupMain #pw, .signupMain #pw2, .signupMain #mail, .signupMain #name, .signupMain #nick {
    width: 300px;
    height: 50px;
    margin: 7px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.signupMain #userid:focus, .signupMain #pw:focus, .signupMain #pw2:focus, .signupMain #mail:focus, .signupMain #name:focus, .signupMain #nick:focus {
    border-bottom: 2px solid #FCD06B;
}

.all_gender {
    display: flex;
    justify-content: center;
}
.man_class, .woman_class {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.day {
    text-align: center;
}

.signupMain .signupBtn {
    width: 300px;
    height: 80px;
    border: none;
    color: white;
    background-color: #FCD06B;
    font-size: 17px;
    cursor: pointer;
}

.signupHidden, .pwMatch {
    display: none;
}

.signupMatch {
    display: none;
}

.signupPage #signupCheckImg {
    position: relative;
    bottom: 55px;
    left: 290px;
}

.signupPage #signupMatch {
    position: absolute;
    width: 300px;
    margin-top: 60px;
    margin-left: 8px;
}


/* 반응형 */
@media screen and (max-width: 650px) {
    .signupMain .signupPage {
        width: 470px;
        height: 600px;
        border-radius: 16px;
    }

    .signupMain .signupCover {
        width: 380px;
        height: 530px;
    }

    .signupMain .signupLogo {
        margin-top: 10px;
    }

    .signupMain .signupForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signupMain #userid, .signupMain #pw, .signupMain #pw2, .signupMain #mail, .signupMain #name, .signupMain #nick {
        width: 200px;
        height: 30px;
    }

    .signupMain .signupBtn {
        width: 200px;
        height: 50px;
    }
}