*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.signupMain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.signupMain .signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 850px;
    background-color: lightgray;
}

.signupMain .signupLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 25px;
}

.signupMain .signupCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: rgb(179, 182, 182);
}

.signupMain .signupForm {
    display: flex;
    flex-direction: column;
}

.signupMain #userid, .signupMain #pw, .signupMain #pw2, .signupMain #mail, .signupMain #name, .signupMain #gender, .signupMain #nick {
    width: 300px;
    height: 50px;
}

.signupMain .signupBtn {
    width: 300px;
    height: 80px;
}