*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signinMain {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.signinMain .signinPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:600px;
    background-color: #FCD06B;
    
}

.signinMain .signinLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
}

.signinMain .signinCover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    width: 400px;
    height: 200px;
    background-color: #e8b631;
    
}

.signinMain .signinForm {
    display: flex;
    flex-direction: column;
}

.signinMain #id, .signinMain #pw {
    width: 300px;
    height: 50px;
}

.signinMain .signinPageBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
}

.signinMain #signinBtn, .roadSignup {
    width: 180px;
    height: 70px;
    margin: 20px;
    background-color: #FCD06B;
    border: 1px solid black;
}

.roadSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

