/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.songMain1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* gap: 30px; */
}

.albumImg {
    width: 200px;
    height: 200px;
    background-color: lightgray;
}
.albumImg img {
    width: 200px;
    height: 200px;
}

.albumInfor {
    width: 570px;
    height: 200px;
    background-color: lightgray;
}

.albumInfor div {
    margin: 4px;
}

.albumInfor .like i{
    
    margin-right: 6px;
}

.talk {
    margin-left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgray;
}

.songMain2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.lyrics {
    width: 958px;
    height: 300px;
    background-color: lightgray;
}

.anotherSong {
    width: 958px;
    height: 100px;
    background-color: lightgray;
}

.songComment {
    width: 958px;
    background-color: lightgray;
    margin-bottom: 40px;
    position: relative;
}

.songComment form {
    display: flex;
    margin-bottom: 50px;
}

.songComment form .comment_user {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
}

.songComment img{
    width: 100px;
    height: 100px;
}

.songComment textarea {
    position: absolute;
    margin-top: 100px;
    width: 958px;
    height: 100px;
    resize: none;
}

.songComment button {
    position: absolute;
    margin-top: 100px;
    width: 63px;
    height: 50px;
    right: 0;
    top: 100px;
}

.songCommentList .commentItem {
    display: flex;
    position: relative;
    width: 958px;
    background-color: lightgray;
    margin-bottom: 150px;
}

.songCommentList .commentItem img {
    width: 100px;
    height: 100px;
}

.songCommentList .comment_user {
    display: flex;
    align-items: center;
}

.songCommentList .commentList_date {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
}

.songCommentList .commentList_content {
    position: absolute;
    margin-top: 100px;
    width: 958px;
    height: 100px;
    resize: none;
}

.songCommentList .modifyBtn {
    position: absolute;
    width: 63px;
    height: 50px;
    right: 63px;
    top: 200px;
}

.songCommentList .deleteBtn {
    position: absolute;
    width: 63px;
    height: 50px;
    right: 0px;
    top: 200px;
}