.sort_section .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.sort_section .menu ul.lay_menu {
    list-style: none;
    display: flex;
}

.sort_section .menu ul.lay_menu li {
    margin-right: 20px;
}

.sort_section .menu ul.lay_menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sort_section .menu ul.lay_menu li a:hover {
    color: #1dbb52;
}

/*테이블*/

.sort_section table {
    display: inline-block;
    text-align: left;
    padding:  0px 20px;
}

.sort_section .defult {
    font-size: medium;
}

.sort_section .list {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; 
}

.sort_section .list th, .list td {
    padding: 10px; 
}

.sort_section .list td {
    text-align: center;
}

.sort_section .wrap {

    display: flex;
    align-items: center;
    justify-content: center;
}

.sort_section .wrap_song {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort_section .song_name,
.sort_section .artist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
