.sort_section {
    display: flex;
    justify-content: center;
}

.sort_section .sort_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    border-bottom:2px solid #FCD06B;
}
.sort_section .genre_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffff;
}

.sort_section .sort_menu ul.lay_menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.sort_section .genre_menu ul.genre_ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.sort_section .sort_menu ul.lay_menu li {
    width: 80px;
    text-align: center;
    padding: 10px;
}

.sort_section .genre_menu ul.genre_ul li {
    width: 80px;
    margin: 10px;
    text-align: center;
}

.sort_section .sort_menu ul.lay_menu li span {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sort_section .genre_menu ul.genre_ul li span {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}


.sort_section .sort_menu ul.lay_menu li span:hover {
    color: #FCD06B;
    cursor: pointer;
}
.sort_section .genre_menu ul.genre_ul li span:hover {
    cursor: pointer;
    color: #FCD06B;
}

/*테이블*/

.sort_section table {
    display: inline-block;
    text-align: left;
    padding:  0px 20px;
}

.sort_section .defult {
    font-size: medium;
}

.sort_section .list {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

.sort_section .list th, .list td {
    padding: 10px; 
}

.sort_section .list td {
    text-align: center;
}

.sort_section .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_song .song_name a {
    text-decoration: none;
    color: black;
}

.sort_section .wrap_song, .wrap_song_album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.sort_section .song_name,
.sort_section .artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap_song {
    width: 130px;
    height: 100px;
    text-align: center;
}

.wrap_song img{
    width:100px;
    height: 100px;
}

.wrap_song_album {
    width: 130px;
}

.wrap > .rank {
    width: 35px;
    text-align: center;
}

.song_detail_button, .song_list_button {
    border: none;
    background-color: #ffff;
    cursor: pointer;
    font-size: 23px;
}

#myPlaylist {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.myPlaylistCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: #ffff;
}

.wrapperMyPlaylist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mainMyPlaylist {
    text-align: center;
    width: 250px;
}

.wrapperPlaylist {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.playlistTitle {
    margin: 12px;
}

.wrapperPlaylistButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.playlistButton {
    border: none;
    background-color: #ffff;
    margin: 12px;
}

@media screen and (max-width: 650px) {
    .song_category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sort_section .sort_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        background-color: #ffff;
        border-bottom:2px solid #FCD06B;  
    }

    .sort_section .sort_menu ul.lay_menu {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .sort_section .sort_menu ul.lay_menu li {
        display: flex;
        justify-content: center;
        width: 80px;
        margin: 10px;
    }

    .sort_section .genre_menu ul.genre_ul li {
        display: flex;
        justify-content: center;
        width: 80px;
        margin-right: 20px;
    }

    .sort_section .list {
        width: auto;
    }

    .sort_section .list th, .list td {
        padding-bottom: 20px;
    }

    .sort_section .list thead {
        display: flex;
        justify-content: center;
    }

    .sort_section .wrap_song, .wrap_song_album {
        height: 40px;
    }

    .song_tbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrap_song_album {
        width: auto;
    }

    .wrap_song {
        width: 70px;
        text-align: center;
    }

    .wrap_song img {
        width: 60px;
        height: 60px;
    }
}