.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.menu ul.lay_menu {
    list-style: none;
    display: flex;
}

.menu ul.lay_menu li {
    margin-right: 20px;
}

.menu ul.lay_menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul.lay_menu li a:hover {
    color: #1dbb52;
}

/*테이블*/
.song_category table {
    display: inline-block;
    text-align: left;
    padding:  0px 20px;
}

.song_category .defult {
    font-size: medium;
}

.song_category .list {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; 
}

.song_category .list th, .list td {
    padding: 10px; 
}

.song_category .list td {
    text-align: center;
}

.song_category .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song_category .wrap_song {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song_name,
.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
